include README.rst
include AUTHORS
include CHANGES.rst
include COPYING.LGPLv3
include *.py
recursive-include inplaceeditform_extra_fields/templates *
recursive-include inplaceeditform_extra_fields/static *
